---
export interface Props {
  tag: string;
  readTime: string;
  title: string;
  imageSrc: string;
}

const { tag, readTime, title, imageSrc } = Astro.props as Props;
---

<article class="flex flex-col">
  <div class="w-full h-[360px] md:h-[420px] overflow-hidden rounded">
    <img src={imageSrc} alt={title} class="w-full h-full object-cover" />
  </div>
  <div class="mt-2 flex items-center gap-2 text-[12px] leading-[16px]">
    <span
      class="text-[12px] leading-[16px] bg-[#EEEEEE] font-semibold border border-primary/10 text-primary rounded px-2 py-1"
    >
      {tag}
    </span>
    <span class="text-primary/80">{readTime}</span>
  </div>
  <h3
    class="mt-1 text-[16px] leading-[24px] md:text-body-lg md:leading-[32px] font-medium"
  >
    {title}
  </h3>
</article>
